@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Varela+Round&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(0, 0, 33);
            color: white;
            font-family: "Poppins", sans-serif;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(18, 18, 62);
        }

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a{
            text-decoration: none;
            color: white;
        }
        nav a{
            text-decoration: none;
            color: white;
        }
        nav a:hover {
            color: rgb(153, 153, 226);
            
        }

        nav ul li a:hover {
            color: rgb(153, 153, 226);
            font-size: 1.02rem;
        }

        main hr {
            border: 0px;
            background-color: #9c97f1;
            height: 1.3px;
            margin: 40px 80px;
        }

        .left {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }

        .firstSection {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 130px 0;

        }

        .firstSection>div {
            width: 30%;
        }

        .leftSection {
            font-size: 3rem;
        }

        .leftSection .btn{
            padding: 50px 0;
        }

        .leftSection .btn {
            padding: 12px;
            background: #1e2167;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 20px;
            cursor: pointer;
        }

        .leftSection .btn:hover{
            color: #1e2167;
            background: white;
            font-size: 1.5rem;
        }

        .rightSection img {
            width: 100%;

        }
       

        .purple {
            color: rgb(170, 107, 228);
        }

        .text-grey {
            color: grey;
        }

        #element {
            color: rgb(170, 107, 228);
        }

        .secondSection {
            max-width: 80vw;
            margin: auto;
            height: 141vh;
        }

        .secondSection h1 {
            font-size: 2rem;
        }

        .secondSection .box {
            background: white;
            width: 80vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }

        .secondSection .verticle {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 6vw;
        }

        .image-top {
            width: 122px;
            position: relative;
            top: -45px;
            left: 4px;
        }

        .verticle-title {
            position: relative;
            top: 75px;
            width: 469px;
            font-size: 25px;
        }

        .verticle-desc {
            position: relative;
            top: 86px;
            color: gray;
            width: 485px;
            font-size: 15px;
            display: flex;
            flex-wrap: wrap;
        }

        footer{
            background-color: #0e0e1a; 
        }

        .footer{
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;
        }

        .footer ul{
            list-style: none;

        }

        .footer div{
            width: 225px;
        }

        footer .footer-rights{
            text-align: center;
            color: gray;
            padding: 12px 0;
        }

        .introduction{
            position: relative;
            top: 5px;
            
            width: 469px;
            font-size: 2vw;
            font-weight: 450;
            color: white
            
        }
        .overview{
            position: relative;
            top: 5px;
            
            font-size: 4vw;
            font-weight: bolder;
            color: rgb(170, 107, 228);
        }
        .intro-desc{
            position: relative;    
            width: 1000px;
            color: white;
            font-size: 20px;
            margin: 1px 0;
            
            
            
        }
        .hrLine2 {
            border: 0;
            background-color: #fefefe;
            height: 1.8px;
            margin: 25px 2px;
        }
        .projects {
            display: flex;
            /* justify-content: space-around; */
            align-items: center;
            margin: 150px 85px;
            gap: 50px 30px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        .card{
            display: flex;
            width: 350px;
            height: 400px;
            padding: 11px;
            border-radius: 15px;
            background-color: rgb(18, 18, 62);
            color: aliceblue;
            box-shadow: 0 0 35px rgb(170, 107, 228);
            text-decoration: none;
            align-items: center;
        }

        .card img{
            width: 100%;
            /* height: 100px; */
            border-radius: 18px;
        }
        
        .card h2{
            font-weight: bolder;
            text-decoration: none;
        }
        .projects a{
            text-decoration: none;
        }
        .card:hover{
            background-color: #9c97f1;
            color: rgb(18, 18, 62);
            height: 420px;
        }


        .contact{
            display: flex;
            align-items: center;
            margin: 200px 85px;
            gap: 30px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }

        .cardcontact{
            display: flex;
            width: 640px;
            height: 500px;
            padding: 40px;
            border-radius: 15px;
            background-color: rgb(18, 18, 62);
            color: aliceblue;
            box-shadow: 0 0 35px rgb(170, 107, 228);
            text-decoration: none;
            
        }

        .cardcontact:hover{
            background-color: #9c97f1;
            color: rgb(18, 18, 62);
            height: 505px;
            width: 645px;
        }

        .cardcontact h1{
            font-weight: bolder;
            font-size: 40px;

        }

        .cardcontact svg{
            color: #f19797;
            fill: none;
            
        }


        .ContactSection{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 40px 0;

        }

        .address{
            font-size: 30px;
            font-weight:500;
        }

        .mobile{
            font-size: 30px;
            font-weight:500;
        }

        .mail{
            font-size: 30px;
            font-weight:500;
        }
        .mail a{
            text-decoration: none;
        }

        .contactInfo{
            margin-top: 20px;
            line-height: 1.8;
        }

        .linkedin{
            font-size: 30px;
            font-weight:500;
        }
        .linkedin a{
            text-decoration: none;
        }
        .social{
            font-size: 30px;
            font-weight:500;
        }
        .social a{
            text-decoration: none;
        }
        

        
       
/*00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

        @media screen and (max-width: 1400px){
            
            body{
                background-color: rgb(33, 0, 0);
                min-width: fit-content;
            }
            nav {
                background-color: rgb(62, 18, 18);
            }
            nav ul li a:hover {
                color: rgb(226, 153, 153);
                font-size: 1.02rem;
            }
            .purple {
                color: rgb(228, 107, 107);
            }
            #element {
                color: rgb(228, 107, 107);
            }
            .leftSection .btn {
                background: #671e1e;
            }
    
            .leftSection .btn:hover{
                color: #671e1e;
            }
            .verticle-title {
                top: 75px;
                width: 469px;
                font-size: 15px;
            }
            main hr {
                background-color: #f19797;
            }
            footer{
                background-color: #1a0e0e; 
            }

            .box{
                flex-direction: column;
            }

            .secondSection .verticle{
                height: unset;
            }

            .verticle-title, .verticle-desc{
                left: 45px;
            }

            .secondSection .box{
                width: 140vw;
            }

            nav{
                flex-direction: column;
            }
            nav a:hover {
                color: rgb(226, 153, 153);
                
            }
            .firstSection{
                flex-direction: column-reverse;
            }
            .leftSection{
                width: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .rightSection {
                width: 721px !important;
            }

            .secondSection{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .image-top {
                top: 7vh !important;
            }
            
            
            .introduction {
                position: relative;
                top: 15px;
                left: 7px;
                width: 469px;
                font-size: 2vw;
                font-weight: bolder;
                color: white;
            }
        

        .overview {
            position: relative;
            top: 10px;
            left: -4px;
            width: 400px;
            font-size: 4vw;
            font-weight: bolder;
            color: rgb(228 107 107);
        }
            
            .intro-desc{
            width: 100% !important;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
             }

             .projects {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                align-items: center;
            }

            .card{
                background-color: rgb(62, 18, 18);
                color: aliceblue;
                box-shadow: 0 0 25px rgb(228, 107, 107);
                align-items: center;
            }

            .card:hover{
                background-color: #f19797;
                color: rgb(62, 18, 18);
                height: 440px;
            }

            .cardcontact{
                display: flex;
                background-color: rgb(62, 18, 18);
                color: aliceblue;
                box-shadow: 0 0 35px rgb(228, 107, 107);
                text-decoration: none;
                
            }

            .cardcontact:hover{
                background-color: #f19797;
                color: rgb(62, 18, 18);
                height: 505px;
                width: 905px;
            }



            }


/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
        
        @media screen and (max-width: 450px){
            
            body{
                background-color: rgb(33, 0, 32);
                min-width: fit-content;
            }
            nav {
                background-color: rgb(62, 18, 54);
            }
            nav ul li a:hover {
                color: rgb(221, 153, 226);
                font-size: 1.02rem;
            }
            .purple {
                color: rgb(228, 107, 220);
            }
            #element {
                color: rgb(222, 107, 228);
            }
            .leftSection .btn {
                background: #671e63;
            }
    
            .leftSection .btn:hover{
                color: #671e66;
            }
            .verticle-title {
                top: 75px;
                width: 469px;
                font-size: 15px;
            }
            main hr {
                background-color: #ee97f1;
            }
            footer{
                background-color: #1a0e19; 
            }

            .box{
                flex-direction: column;
            }

            .secondSection .verticle{
                height: unset;
            }

            .verticle-title, .verticle-desc{
                left: 45px;
            }

            .secondSection .box{
                width: 140vw;
            }

            nav{
                flex-direction: column;
            }
            nav a:hover {
                color: rgb(219, 153, 226);
                
            }
            .firstSection{
                flex-direction: column-reverse;
            }
            .leftSection{
                width: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .rightSection {
                width: 621px !important;
            }

            .secondSection{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .image-top {
                top: 7vh !important;
            }

            
            .introduction {
                position: relative;
                top: 15px;
                left: 2px;
                width: 469px;
                font-size: 5vw;
                font-weight: bolder;
                color: white;
            }
            .overview {
                position: relative;
                top: 13px;
                left: -4px;
                width: 400px;
                font-size: 10vw;
                font-weight: bolder;
                color: rgb(222, 107, 228);
            }
        .intro-desc{
                width: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;    
                width: 1000px;
                color: white;
                font-size: 20px;
                margin: 1px 0;
                top: -100px;
        }

        .projects {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: space-between;
            align-items: center;
        }

        .card{
            background-color: rgb(62 18 54);
            color: aliceblue;
            box-shadow: 0 0 25px rgb(218, 107, 228);
            align-items: center;
        }

        .card:hover{
            background-color: #f197ec;
            color: rgb(62, 18, 54);
            height: 440px;
        }

        .cardcontact{
            display: flex;
            background-color: rgb(62, 18, 54);
            color: aliceblue;
            box-shadow: 0 0 35px rgb(218, 107, 228);
            text-decoration: none;
            
        }

        .cardcontact:hover{
            background-color: #f197ec;
            color: rgb(62, 18, 54);
            height: 505px;
            width: 905px;
        }


        
        


        }